/*.barraSuperior
{
    background-image: url(https://bootdey.com/img/Content/bg1.jpg);
    font-size: 3em;
    color: aliceblue;
    font-family: 'Kalam','Courier New', 'cursive';
    display: block;
    position: absolute;
    left: 0;
    top:0;
}
.barraSuperior > div > div > p
{
    font-size: 0.5em;
    color: aliceblue;
}

#main-wrapper
{
    margin-top: 15%;
    background-color: #ecf0f1;
    width: 70%;
}

input:hover
{
    border: 2px solid #2c3e50;
}

body
{
    background-image: url('../img/fondos/bg1.jpg');
    background-repeat: no-repeat;
    color: black;
}


Otros
*/


.bloque{
    display: inline-block;
    width: 50%;
    font-size: 13px;
}

.main-content{
	width: 80%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}

.company__info{
	background-color: #008080;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#008080;
}
.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
    width: 100%;
}
.form__input{
	width: 75%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: .5em .5em .5em;
	padding-left: 1em;
	outline:none;
	margin-top:1em;
    margin-right:1em;
    margin-bottom:1em;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #008080;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
#codplato,#cantplato
{
	font-size: 25px;
}

.btn{
	transition: all .5s ease;
	width: 50%;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: #008080;
	color:#fff;
}

.btn-create{
	transition: all .5s ease;
	width: 100%;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn-create:hover, .btn-create:focus{
	background-color: #008080;
	color:#fff;
}
.btn-acceder, .inp-dom{
    display: block;
    max-width: auto;
}
.info-req{
    color: red;
}

.form__input__select{
    width: 55%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: .5em .5em .5em;
	padding-left: 1em;
	outline:none;
	margin-top:1em;
    margin-right:1em;
    margin-bottom:1em;
	transition: all .5s ease;
}


/*
* Estilos de la vista de venta de productos 
*/

.detalleDeVentaFuncionario > .row 
{
	margin-top: 15px;
	margin-bottom: 30px;
	border-bottom: 2px solid black;
}
.detalleDeVentaFuncionario > .row > .nombreEntidad
{
	font-size: 38px;
	font-family: Kalam,Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #c0392b;
}

.detalleDeVentaFuncionario > .row > div > div > .fecha > div
{
	text-decoration-line:unset;
}

.detalleDeVentaFuncionario > .row > div > div > div
{
	margin-bottom: 8px;
} 

/*
* Estilos para el formulario de detalle de ventas
*/
.detalleDeVentaFuncionario > .row > div > form > .row > div
{
	display: inline-block;
	margin: 5px;
}
.detalleDeVentaFuncionario > .row > div > form > .row > div > input
{
	border-bottom: 5px solid black;
	height: 100px;
}
.detalleDeVentaFuncionario > .row > div > form > .row > .btn-ventas
{
	height: 50px; 
	color:aliceblue;
}
.detalleDeVentaFuncionario > .row > div > form > .row > .btn-ventas:hover
{
	color:black;
	height: 55px; 
}

.btn-accciones-funcionario
{
	border: 1px solid;
	margin: 8px;
}

#modal-body-reporte-cajero{
	height: 550px;
	overflow-y:auto;
}



